aiohttp==3.8.6
aiohttp-retry==2.8.3
aiosignal==1.3.1
asgiref==3.7.2
astroid==2.15.6
async-timeout==4.0.3
attrs==23.1.0
backports.zoneinfo==0.2.1
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
coverage==7.3.2
cryptography==41.0.4
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.7
dj-rest-auth==5.0.1
Django==4.2.4
django-allauth==0.57.0
django-extensions==3.2.3
django-phonenumber-field==7.2.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
drf-spectacular==0.26.5
frozenlist==1.4.0
idna==3.4
importlib-resources==6.1.0
inflection==0.5.1
isort==5.12.0
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
lazy-object-proxy==1.9.0
mccabe==0.7.0
multidict==6.0.4
nexmo==2.5.2
oauthlib==3.2.2
phonenumbers==8.13.22
pkgutil-resolve-name==1.3.10
platformdirs==3.10.0
psycopg2-binary==2.9.9
pycparser==2.21
pygraphviz==1.11
PyJWT==2.8.0
pylint==2.17.5
pylint-django==2.5.3
pylint-plugin-utils==0.8.2
python-decouple==3.8
python-dotenv==1.0.0
python3-openid==3.2.0
pytz==2023.3.post1
PyYAML==6.0.1
referencing==0.30.2
requests==2.31.0
requests-oauthlib==1.3.1
rpds-py==0.10.4
sqlparse==0.4.4
tomli==2.0.1
tomlkit==0.12.1
twilio==8.9.1
typing-extensions==4.7.1
uritemplate==4.1.1
urllib3==2.0.6
wrapt==1.15.0
yarl==1.9.2
zipp==3.17.0
